[Unit]
Description= GPSdeamon

[Service]
User=root
Restart=always
RestartSec=5s
ExecStart=/home/debian/Gokart_CAN_API/GPS_USB_NMEA_PARCER/Debug/GPS_USB_NMEA_PARCER

[Install]
WantedBy=multi-user.target
