[Unit]
Description=systemd service file shuts down if power is removed

[Service]
User=root
WorkingDirectory= /home/debian/Gokart_CAN_API/Power_off
ExecStart=/home/debian/Gokart_CAN_API/Power_off/Pocket_shutdown

[Install]
WantedBy=multi-user.target

