[Unit]
Description= CANMQTTdaemon

[Service]
User=root
Restart=always
RestartSec=5s
ExecStart=/usr/bin/python3 /home/debian/Gokart_CAN_API/Onboard_CAN_MQTT_Client/CANsniff.py

[Install]
WantedBy=multi-user.target
